[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
rise = "*"
arrow = "*"
boltons = "*"
click = "*"
fire = "*"
fuzzywuzzy = "*"
pandas = "*"
paramiko = "*"
pelican = "*"
pip-tools = "*"
PyJWT = "*"
pyquery = "*"
Sphinx = "*"
tox = "*"
tweepy = "*"
colorama = "*"


[dev-packages]



[requires]

python_version = "3.6"
